<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'indx/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="https://vk.com/a.asesarova3401">Анна Асесарова</a>
	  </nav>

    <div id='main_bio'>
      {% load static %}
      <img src="{% static 'indx/photos/1.jpg' %}" class='rounded mx-auto d-block' width='45%' id='bio_img'>
      <p id='bio_text'>
        В один прекрасный день (6 августа 2003) появилась Ання.
        Ее мать думала, что у нее глисты, но после теста все стало ясно, Аня - это ребенок.
        Она любитель поиграть(только в симс). Когда злится похожа на хомяка. Хорошо 
        развит актерский талант, умеет превращаться в шланг. Большое влечение к мужчинам
        с большим ... опытом. По знаку задиака лев, но в жизни хомяк. Иногда умная. Топ 3 
        студента ИПФ 2020. Любимые слова: понимаю, понятно, а, ну ок, справедливо и т. д. 
        Предпочтет киску вместо собаки. У нее прием пищи проходит с 0:00 ночи до 5:00 утра. 
        Альтруист. Поможет Вам во время химии, даже если у самой ничего не сделано(РЕСПЕКТ).
        Есть СИЛА ВОЛИ, бросила курение, когда в ее жизни появился Алексей(РЕСПЕКТ 2x). 
        В хороших отношениях со своей семьей(очень любит брата и брата-цыгана). 
        Очень гостеприимна.
        Обладает многими полезными навыками, но может скрывать их от Вас. Умеет готовить.
        Дигустацию блюд можно провести по адрессу просп. Независимости 148/2. Будет готова 
        принят Вас со вторника(наверно). Или спросите у Алексея Зеневича/Ильи Голикова.
        При выполнении какой либо работы, может помоч Вам в люое время, но после выполнения всех 
        своих задачь, помощи от нее можете не ждать. Ниже Вы можете найти контактную 
        информацию.
      </p>
    </div>

    <div id="urls">
      <center><p id='link1'><a href="{% url 'indx:photos' %}">Фотографии</a></p></center>
      <center><p id='link2'><a href="{% url 'indx:test' %}">Тест</a></p></center>
    </div>

    <div id="part3">
      <div id="contacts">
        <p id='contact_p'>Телефон: +375296315983</p>
        <p id='contact_p'>Город: Бобруйск</p>
        <p id='contact_p'><a href="https://www.instagram.com/_annet_a.s_/">Instagram</a></p>
        <p id='contact_p'><a href="https://vk.com/a.asesarova3401">VK</a></p>
      </div>

      <div id="stats">
        <p id="stats_p">Рост: 162</p>
        <p id="stats_p">Вес: 52</p>
        <p id="stats_p">IQ: 110-120</p>
        <p id="stats_p">Токсичность: max</p>
      </div>
    </div>

    <footer class="page-footer font-small gray" id='footer'>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="#">Kamikaze</a>
      </div>
    </footer>

</body>
</html>