{% extends 'indx/index.html' %}

{% block content %}

    <center><div id="main_bio">

        Это человек не знает преград. Он всегда движется к своей цели,пусть и не всегда получается.
        У него необычная внешность и очень добрая душа. Когда рассказываешь другим людям про него,хочется сказать что он настолько больно на голову, что невозможно в это поверить!
        У Ильи необычная внешность. Он настоящий — хахол!!!
        Он маленький как карлик,почти все друзья у него высокие, а он маленькая Люська.
        У него настоящая сила Льва, и это не важно что по знаку зодиака он Лев.
        Господи за что нам достался такой человек,хотя Господу за это спасибо большое, он настоящий человек!!!

        

    </div></center>

    <center><div id="main_bio">
        А так же он настоящий гей мер!!!
        Проффесиональный читер в ГТА 5 (купил прокачку).
        Психолог, умеет оказывать психологическое давление. Пример его навыков:

        После покупки прокачки, этот говнюк поездил передо мной на своем новом танке,
        скинул ссылку на прокачку в личку и ушел. После этого у меня не было выбора покупать ее или нет.

        Иногда умен, иногда он тупее Патрика из мультика Спанчбоб. 
        Хороший игрок в CS:GO. Обладает хорошим чувством юмора. 
        Был в хорошей физической форме, но потолстел и потерял все свои навыки профессионального бойца за 2 года, заплыв жиром.
    </div></center>

    <center><div id="main_bio">
        Обладает прирожденными рефлексами: если ему дать телефон в руку даже в 3 часа ночи,
        этот мудак будет листать на нем мемы.
    </div></center>

    <center><div id="proof_div">
        {% load static %}
        <img src="{% static 'indx/photos/proof1.png' %}" alt="" id="proof_img" width='32%'>
        <img src="{% static 'indx/photos/proof2.png' %}" alt="" id="proof_img" width='32%'>
    </div></center>

    <center><div id="main_bio">
        В принципе, он будет держать в руке все что вы ему дадите:
    </div></center>

    <center><img src="{% static 'indx/photos/vtulka_proof.jpg' %}" alt="" id='proof_img_last'></center>


{% endblock content %}