{% extends 'indx/index.html' %}

{% block content %}

    {% load static %}
    <center><div id="main_photos">
        <img src="{% static 'indx/photos/crazy_ass_mazafaka.jpg' %}" class="rounded float-center" id='photo'>
        <img src="{% static 'indx/photos/death_will_be_with_him_soon.jpg' %}" class="rounded float-center" id='photo'>
        <img src="{% static 'indx/photos/girl_and_ilya.jpg' %}" class="rounded float-center" id='photo'>
        <img src="{% static 'indx/photos/babushka.jpg' %}" class="rounded float-center" id='photo'>
        
    </div></center>

    <center><div id="main_photos">
        <img src="{% static 'indx/photos/ilya_pidr.jpg' %}" class="rounded float-center" id='photo'>
        <img src="{% static 'indx/photos/i_will_edit_it_later.jpg' %}" width="35%">
    </div></center>

    <center><div id="main_photos_last_div">
        <img src="{% static 'indx/photos/ILYA_AND_his_friend.jpg' %}" class="rounded float-center" id='photo'>
        <img src="{% static 'indx/photos/KACHOK.jpg' %}" class="rounded float-center" id='photo'>
        <img src="{% static 'indx/photos/TANK.jpg' %}" width='35%'>

    </div></center>



{% endblock content %}